
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ticket</title>
    <link rel="stylesheet" href="">
    <style>
        .alineacionGeneral {
            text-align: center;
            margin-bottom: 1px;
            margin-top: 1px;
        }

        h5.alineacionGeneral {
            text-align: left;
        }

        .datosTransaccion {
            color: #696969;
            font-weight: 100;
        }

        .datosMonto {
            color: #696969;
            font-weight: 100;
            font-size: 10px;
        }

        .bordeCelda {
            border-width: 1px;
            border: double;
            border-color: #000000
        }

        .space {
            height: 80px;
        }

        hr {
            width: 200px;
        }
    </style>
</head>
<body>
    <div>
        <table style="margin: 0 auto; margin-top: 20px; width: 300px;">
            <tr>
                <td colspan="2">
                    <h4 class="alineacionGeneral datosTransaccion">Referencia Banco Azteca. S.A.</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="alineacionGeneral">ENVÍOS DE DINERO</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="alineacionGeneral">XOOM</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="alineacionGeneral datosTransaccion">PAGO</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="alineacionGeneral datosTransaccion">ClAVE DE COBRO(MTCN)</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="alineacionGeneral">X061847762739644</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="alineacionGeneral bordeCelda">CLIENTE</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">NOMBRE</h5>
                </td>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">Carlos Meza Garcia</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">NO. CLIENTE</h5>
                </td>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">01-20-0172-23246</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">IDENTIFICACI&Oacute;N</h5>
                </td>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">CREDENCIAL IFE</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">FOLIOID</h5>
                </td>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">4343081185516</h5>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="alineacionGeneral bordeCelda">DATOS DEL PAGO</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">BENEFICIARIO</h5>
                </td>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">Carlos Meza Garcia</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">REMITENTE</h5>
                </td>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">LAURA BOUQUET</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">ORIGEN</h5>
                </td>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">US.TX.SUGAR LAND</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">DESTINIO</h5>
                </td>
                <td>
                    <h5 class="alineacionGeneral datosTransaccion">MEXICO.MEXICO.MEXICO</h5>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h6 class="alineacionGeneral">AVISO DE PRIVACIDAD</h6>
                </td>
            </tr>            
            <tr>
                <td colspan="2">
                    <h6 class="alineacionGeneral datosTransaccion" style="text-align: justify;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sapiente commodi, ad deserunt temporibus nisi debitis quos repellat. Voluptatibus autem laudantium, sequi quis laborum culpa repellendus distinctio veritatis ullam aut
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laborum architecto alias debitis, impedit pariatur! Quaerat, vel? Amet labore neque, dolor repellendus ab earum asperiores. Fuga praesentium ut a amet..
                    </h6>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="alineacionGeneral">RECIBO DE INFORMIDAD</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="alineacionGeneral">$3,290</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4 class="alineacionGeneral datosMonto">(TRES MIL DOSCIENTOS NOVENTA PESOS 00/100)</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="space"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                    <h6 class="alineacionGeneral datosTransaccion">Carlos Meza Garcia</h6>
                </td>
            </tr>
            <tr>
                <td colspan="2">                   
                  <pr>@@QR</pr>
                </td>
            </tr>
            <tr>
                <td colspan="2">   
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    <h1 class="alineacionGeneral datosTransaccion">Cliente</h1>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>
